<div>
  <h1>Available Frameworks and Functions</h1>
  <ul style="text-align: left;">
    <li><a onclick="openInNewTab('http://jquery.com/')" href="">jQuery</a></li>
    <li>
      <a onclick="openInNewTab('http://jqueryui.com/')" href="">jQuery UI</a>
    </li>
    <li>
      <a onclick="openInNewTab('http://getbootstrap.com/')" href=""
        >Bootstrap</a
      >
    </li>
    <li>
      <a onclick="openInNewTab('http://tether.io/')" href="">tether.io</a>
    </li>
    <li>
      <a
        onclick="openInNewTab('http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html')"
        href=""
        >Material Bootstrap</a
      >
    </li>
    <li>
      <a
        onclick="openInNewTab('https://fezvrasta.github.io/snackbarjs/')"
        href=""
        >Snackbar JS - Can reference with
        <code>showSnackbar("This is awesome!")</code></a
      >
    </li>
    <li>
      <a
        onclick="openInNewTab('https://github.com/jquery/jquery-mousewheel')"
        href=""
        >Mousewheel jQuery Extension</a
      >
    </li>
    <li>
      <a
        onclick="openInNewTab('http://keithmackay.com/devfiles/script.js')"
        href=""
        >My Personal Suite of Javascript Frameworks and jQuery Extensions</a
      >
    </li>
  </ul>
</div>
