body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #666666;
  padding: 0;
  margin: 0;
}

#board div.row {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
}

#topBar {
  position: absolute;
  height: 10vh;
  top: 1px;
  width: 100vw;
}

#topBar * {
  position: absolute;
}

#scoreEl {
  position: absolute;
  margin-left: 5vw;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
}

#board {
  position: fixed;
  bottom: 4px;
  margin: 0px;
  padding: 0px;
  width: 96vw;
  left: 2vw;
  height: 85vh;
  border: solid thin black;
}

#board .tile {
  display: inline-block;
  background-color: transparent;
  padding: 0px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.row * {
  display: inline;
}

.animationTile {
  position: fixed;
  background-color: white;
  pointer-events: none;
}

#board .tile.filled {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#board .tile.filled.filled-1,
.animationTile.filled-1 {
  background-color: yellow;
}

#board .tile.filled.filled-2,
.animationTile.filled-2 {
  background-color: green;
}

#board .tile.filled.filled-3,
.animationTile.filled-3 {
  background-color: blue;
}

#board .tile.filled.filled-4,
.animationTile.filled-4 {
  background-color: red;
}

#board .tile.filled.filled-5,
.animationTile.filled-5 {
  background-color: cyan;
}

#board .tile.filled.filled-6,
.animationTile.filled-6 {
  background-color: magenta;
}

#board .tile.filled.filled-7,
.animationTile.filled-7 {
  background-color: #ff8c00;
}

#board .tile.filled.filled-8,
.animationTile.filled-8 {
  background-color: white;
}
