<div class="navbar-header">
  <img
    align="left"
    style="height:50px;paddingRight=30px;"
    src="images/keith.png"
  />
  <!---->
  <button
    type="button"
    class="navbar-toggle collapsed"
    data-toggle="collapse"
    data-target="#navbar"
    aria-expanded="false"
    aria-controls="navbar"
  >
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!---->
  <b align="right" id="navbar-brand" class="navbar-brand"
    >&nbsp;&nbsp;&nbsp;Keith MacKay</b
  >
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="header-button-1">
      <a id="header-text-1" href="index.html">Home</a>
    </li>
    <li class="dropdown">
      <a
        id="dropdown-text"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        >Find On<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li>
          <a
            style="cursor: pointer;"
            onclick="openInNewTab('https://www.linkedin.com/in/keith-mackay-047b9387')"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer;"
            onclick="openInNewTab('https://github.ncsu.edu/kamackay')"
            >GitHub</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer;"
            onclick="openInNewTab('https://play.google.com/store/apps/developer?id=Keith+MacKay')"
            >Google Play App Store</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer;"
            onclick="openInNewTab('https://www.facebook.com/keith.mackay.927')"
            >Facebook</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer;"
            onclick="openInNewTab('https://plus.google.com/110759119565237083247')"
            >Google Plus</a
          >
        </li>
      </ul>
    </li>
    <li class="header-button-2">
      <a id="header-text-2" href="contact.html">Contact</a>
    </li>
    <li class="header-button-3">
      <a id="header-text-3" href="index.html#resume-doc">Formal Resume</a>
    </li>
    <li class="dropdown">
      <a
        id="dropdown-text"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        >GitHub Code Samples<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Windows</li>
        <li class="dropdown-child">
          <a href="index.html#jeeves">Automated System Manager</a>
        </li>
        <li><a href="index.html#photo-viewer">Photo Viewing Application</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Android</li>
        <li>
          <a href="index.html#android-jeeves">Audio Management Assistant</a>
        </li>
        <li><a href="index.html#android-drinkinggames">Drinking Games</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Web</li>
        <li><a href="index.html#resume-site">This Resume Webpage</a></li>
      </ul>
    </li>
    <!-- -->
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li></li>
  </ul>
</div>
